{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "css",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": ["."]
}
